@tailwind base;
@tailwind components;
@tailwind utilities;

/* MUI: Paper */

.MuiPaper-rounded,
.MuiInputBase-root,
.MuiButtonBase-root,
.modal--inner {
  border-radius: 0.8rem !important;
}

.memory-card {
  position: relative;
}
.memory-card .MuiCardHeader-root {
  position: absolute;
  top: 0;
  right: 0;
}
